agate==1.9.1
aiohttp==3.9.5
aiosignal==1.3.1
airflowctl==0.2.11
alembic==1.13.1
altair==4.2.2
altgraph==0.17.4
altimate-datapilot-cli==0.0.10
amqp==5.2.0
anyio==3.7.1
apache-airflow==2.9.1
apache-airflow-providers-celery==3.6.2
apache-airflow-providers-common-compat==1.2.1
apache-airflow-providers-common-io==1.3.1
apache-airflow-providers-common-sql==1.18.0
apache-airflow-providers-fab==1.0.4
apache-airflow-providers-ftp==3.8.0
apache-airflow-providers-http==4.10.1
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-smtp==1.6.1
apache-airflow-providers-snowflake==5.5.0
apache-airflow-providers-sqlite==3.7.1
apispec==6.6.1
appdirs==1.4.4
argcomplete==3.3.0
asgiref==3.8.1
asn1crypto==1.5.1
atomicwrites==1.4.0
attrs==23.2.0
Babel==2.14.0
backports.weakref==1.0.post1
billiard==4.2.0
blinker==1.8.1
boto3==1.34.152
botocore==1.34.152
brotlipy==0.7.0
cachelib==0.9.0
cachetools==5.3.3
celery==5.4.0
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clickclick==20.10.2
colorlog==4.8.0
ConfigUpdater==3.2
pandas==2.1.4
pandasql==0.7.3
psutil==5.9.8
py-dag==3.0.1
pyarrow==17.0.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyJWT==2.8.0
pyls-spyder==0.4.0
pymdown-extensions==10.8.1
PyQt5==5.15.7
python-daemon==3.0.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-nvd3==0.16.0
python-slugify==8.0.4
sniffio==1.3.1
snowflake-connector-python==3.10.1
streamlit==1.39.0
streamlit-aggrid==1.0.5
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-cookies-manager==0.2.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.3
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-login-auth-ui==0.2.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.4.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
snowflake-connector-python
streamlit_autorefresh
seaborn
matplotlib
